html {
	@apply text-grey-fg bg-themebg;
}

.win-button {
	@apply relative after:absolute before:absolute before:top-0 after:top-0 before:left-0 after:left-0 before:w-full after:w-full before:h-full after:h-full;
	border-color: #fefefe #848584 theme('colors.taskbarDark') #fefefe;
	box-shadow: inset 2px 1px 1px #dfdfdf;
	background: theme('colors.grey.bg');
}

.win-button:active {
	padding-top: 2px;
	@apply bg-grey-clicked text-taskbarDark;
	box-shadow: none;
	border-color: #abc9ab #fefefe #fefefe theme('colors.taskbarDark');
}

body {
	overflow: hidden;
}
